.jumbotron {
    background-image: url("images/bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
}

.jumbotron h1 {
    color: #fff;
  }

.jumbotron p {
color: #fff;
}

.tag {
font-family: 'Times New Roman'; 
font-size: 2rem;